[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "pytorch"
verify_ssl = true
name = ""

[packages]
jupyter = "*"
torch = "*"
torchtext = "*"
python-dotenv = "*"
datasets = "*"
pypdf = "*"
sentencepiece = "*"
evaluate = "*"
scikit-learn = "*"
sacremoses = "*"
absl-py = "*"
nltk = "*"
numpy = "*"
six = "*"
rouge-score = "*"
huggingface-hub = "*"
transformers = {extras = ["torch"], version = "*"}
soundfile = "*"
matplotlib = "*"
pillow = "*"
speechbrain = "*"
torchmetrics = "*"
qwen-vl-utils = "*"
decord = "*"
pytesseract = "*"
diffusers = "*"
opencv-python = "*"
moviepy = "*"
smolagents = {extras = ["litellm"], version = "*"}
markdownify = "*"
requests = "*"
langchain-community = "*"
langchain-huggingface = "*"

[dev-packages]

[requires]
python_version = "3.9"
