[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "pytorch"
verify_ssl = true
name = ""

[packages]
jupyter = "*"
torch = "*"
torchtext = "*"
python-dotenv = "*"
datasets = "*"
pypdf = "*"
sentencepiece = "*"
transformers = {extras = ["torch"], version = "*"}
evaluate = "*"
scikit-learn = "*"
sacremoses = "*"
absl-py = "*"
nltk = "*"
numpy = "*"
six = "*"
rouge-score = "*"
huggingface-hub = "*"
diffusers = "*"

[dev-packages]

[requires]
python_version = "3.9"
